[submodule "modules/okn-editor"]
	path = modules/okn-editor
	url = ../okn-editor.git
[submodule "modules/okn-asset"]
	path = modules/okn-asset
	url = ../okn-asset.git
[submodule "modules/okn-render"]
	path = modules/okn-render
	url = ../okn-render.git
[submodule "modules/okn-audio"]
	path = modules/okn-audio
	url = ../okn-audio.git
[submodule "modules/okn-ecs"]
	path = modules/okn-ecs
	url = ../okn-ecs.git
[submodule "modules/okn-script"]
	path = modules/okn-script
	url = ../okn-script.git
[submodule "modules/okn-ui"]
	path = modules/okn-ui
	url = ../okn-ui.git
[submodule "modules/okn-network"]
	path = modules/okn-network
	url = ../okn-network.git
[submodule "modules/okn-platform"]
	path = modules/okn-platform
	url = ../okn-platform.git
[submodule "modules/okn-core"]
	path = modules/okn-core
	url = ../okn-core.git
[submodule "modules/okn-memory"]
	path = modules/okn-memory
	url = ../okn-memory.git
[submodule "modules/okn-physics"]
	path = modules/okn-physics
	url = ../okn-physics.git
[submodule "modules/okn-math"]
	path = modules/okn-math
	url = ../okn-math.git
[submodule "third_party/TeamkillerUniGUI"]
	path = third_party/TeamkillerUniGUI
	url = https://github.com/Teamkiller131/TeamkillerUniGUI.git
